/* 
--------------------------------------------------------

Kuldeep CSS Style
Created by Kuldeep
Note:Please dont use this code without permission!
googledrive.com/host/id
<link href="link" rel="stylesheet" type="text/css" />

--------------------------------------------------------
*/

.kd-border
{
  border:1px solid red;
  padding:20px;
  background-color:red;
  color:white;

}

